<!--  3-4. 職旅計畫概況 -->
<div class="d-flex gap-4 pb-5 pb-md-6">
  <!-- #region left aside -->
  <div class="flex-shrink-0 leftSide-width-300 d-none d-md-block">
    <h2 class="fs-4 mb-3">教育背景</h2>
    <span class="text-natural-50 me-1">欄位皆為選填</span>
  </div>

  <!--  right main -->
  <div class="w-100">
    <div class="d-flex d-md-none mb-4 justify-content-between">
      <h2 class="fs-9 d-inline">教育背景</h2>
      <span class="fs-7 text-natural-50 me-1">欄位皆為選填</span>
    </div>
    <!-- 調查 3-4-1 學歷背景 -->
    <div class="mb-4 mb-md-5">
      <div class="form-floating">
        <textarea
          class="form-control radius-8 normal-height"
          placeholder="學歷背景（最多500字）"
          id="education"
          maxlength="500"
        ></textarea>
        <label for="education" class="fs-7 fs-md-6 text-black"
          >學歷背景（最多500字）</label
        >
      </div>
    </div>
    <!-- 調查  3-4-2 專業培訓與工作坊 -->
    <div class="mb-4 mb-md-5">
      <div class="form-floating">
        <textarea
          class="form-control radius-8 normal-height"
          placeholder="專業培訓與工作坊"
          id="trainingInternship"
          maxlength="500"
        ></textarea>
        <label for="trainingInternship" class="fs-7 fs-md-6 text-black"
          >專業培訓與工作坊（最多 500 字）</label
        >
      </div>
    </div>
  </div>
</div>
