<!--  3-3. 專業技能區塊  -->
<div class="d-flex gap-4 border-bottom pb-5 pb-md-6 mb-5 mb-md-6">
  <!--  left aside -->
  <div class="flex-shrink-0 leftSide-width-300 d-none d-md-block">
    <h2 class="fs-4 mb-3">專業技能區塊</h2>
    <span class="text-natural-50 me-1">欄位皆為選填</span>
  </div>

  <!-- right main -->
  <div class="w-100">
    <div class="d-flex d-md-none mb-4 justify-content-between">
      <h2 class="fs-9 d-inline">專業技能區塊</h2>
      <span class="fs-7 text-natural-50 me-1">欄位皆為選填</span>
    </div>
    <!-- 調查 3-3-1 核心專業領域 -->
    <div class="mb-4 mb-md-5">
      <h4 class="mb-2 fs-7 fs-md-6">核心專業領域</h4>
      <div class="px-2">
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="designCreate"
            value="designCreate"
            checked
          />
          <label class="form-check-label fs-7" for="designCreate">
            設計/創意
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            value="IT_PG"
            id="IT_PG"
          />
          <label class="form-check-label fs-7" for="IT_PG">
            科技/程式開發
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="marketing_Sales"
            value="marketing_Sales"
          />
          <label class="form-check-label fs-7" for="marketing_Sales">
            行銷/公關
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="contentCreator"
            value="contentCreator"
          />
          <label class="form-check-label fs-7" for="contentCreator">
            內容創作/寫作
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="consultant"
            value="consultant"
          />
          <label class="form-check-label fs-7" for="consultant">
            顧問/諮詢
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="buiness_management"
            value="buiness_management"
          />
          <label class="form-check-label fs-7" for="buiness_management">
            商業/管理
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="finance_accounting"
            value="finance_accounting"
          />
          <label class="form-check-label fs-7" for="finance_accounting">
            財務/會計
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="education_trainning"
            value="education_trainning"
          />
          <label class="form-check-label fs-7" for="education_trainning">
            教育/培訓
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="leagal_reguation"
            value="leagal_reguation"
          />
          <label class="form-check-label fs-7" for="leagal_reguation">
            法律/合規
          </label>
        </div>
        <div class="form-check form-check-inline mb-2 me-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="coreCompetiveness"
            id="health_medical"
            value="health_medical"
          />
          <label class="form-check-label fs-7" for="health_medical">
            健康/醫療
          </label>
        </div>
      </div>
    </div>
    <!-- 調查 3-3-2 專業背景和核心競爭力 -->
    <div class="mb-4 mb-md-5">
      <div class="form-floating">
        <textarea
          class="form-control radius-8 normal-height"
          placeholder="專業背景和核心競爭力"
          id="backgroundCoreCompetitiveness"
          maxlength="300"
        ></textarea>
        <label
          for="backgroundCoreCompetitiveness"
          class="fs-7 fs-md-6 text-black"
          >專業背景和核心競爭力（最多 300 字）</label
        >
      </div>
    </div>
    <!-- 調查  3-3-3 專業技能 -->
    <div class="mb-4 mb-md-5">
      <div class="form-floating">
        <textarea
          class="form-control radius-8 normal-height"
          placeholder="專業技能"
          id="professionalSkill"
          maxlength="300"
        ></textarea>
        <label for="professionalSkill" class="fs-7 fs-md-6 text-black"
          >專業技能（最多 300 字）</label
        >
      </div>
    </div>
    <!-- 調查 3-3-4 語文能力 -->
    <div class="mb-4 mb-md-5">
      <div class="form-floating">
        <textarea
          class="form-control radius-8 normal-height"
          placeholder="語文能力"
          id="languageProficiency"
          maxlength="300"
        ></textarea>
        <label for="languageProficiency" class="fs-7 fs-md-6 text-black"
          >語文能力（最多 300 字）</label
        >
      </div>
    </div>
    <!-- 調查  3-3-5 資格證照 -->
    <div class="mb-4 mb-md-5">
      <div class="form-floating">
        <textarea
          class="form-control radius-8 normal-height"
          placeholder="資格證照"
          id="qualification"
          maxlength="300"
        ></textarea>
        <label for="qualification" class="fs-7 fs-md-6 text-black"
          >資格證照（最多 300 字）</label
        >
      </div>
    </div>
  </div>
</div>
