<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="max-width: 480px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">更新密碼</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-4">
        <input
          class="form-control mb-4"
          placeholder="新密碼"
          id="newPassword"
          style="height: 56px"
        ></input>
         <input
          class="form-control"
          placeholder="再次密碼"
          id="confirmPassword"
          style="height: 56px"
        ></input>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button> -->
        <!-- <button type="button" class="btn btn-primary">更新密碼</button> -->
        <button type="button" class="btn me-2 btn-dark rounded-4  px-4">
          更新密碼<span class="material-icons-outlined ms-1 align-bottom">
            chevron_right
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
