<div class="container py-6 justify-content-between d-none d-lg-flex">
  <div class="d-flex">
    <a class="btn py-2 px-5">服務方案</a>
    <a class="btn py-2 px-5">關於職旅</a>
    <a class="btn py-2 px-5">聯絡我們</a>
    <a class="btn py-2 px-5">隱私權政策</a>
    <a class="btn py-2 px-5">用戶條款</a>
  </div>
  <p class="fs-7">Copyright © 2025 職旅 workway. All rights reserved.</p>
</div>
<div
  class="container py-5 justify-content-between d-flex d-lg-none flex-column justify-content-center align-items-center"
>
  <div class="d-flex">
    <a class="btn py-2 px-4">服務方案</a>
    <a class="btn py-2 px-4">關於職旅</a>
    <a class="btn py-2 px-4">聯絡我們</a>
  </div>
  <div class="d-f">
    <a class="btn py-2 px-4">隱私權政策</a>
    <a class="btn py-2 px-4">用戶條款</a>
  </div>
  <p class="fs-7">Copyright © 2025 職旅 workway. All rights reserved.</p>
</div>
