<div class="container">
  <nav class="navbar navbar-expand-sm border-bottom bg-white py-3 py-sm-0">
    <a class="navbar-brand d-block" href="#">
      <img src="/assets/images/logo.svg" alt="logo" class="logo-img"
    /></a>

    <div class="collapse navbar-collapse d-sm-block" id="headerNavBar">
      <ul class="navbar-nav mx-auto py-4">
        <li class="nav-item me-3">
          <a class="nav-link active" href="#">服務方案</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#">關於職旅</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#">聯絡我們</a>
        </li>
      </ul>
    </div>
    <div class="d-block d-flex">
      <a href="user.html" class="m-0 d-block me-3">
        <img
          src="/assets/images/avatar.png"
          alt="avatar"
          class="border rounded-circle me-2 avata_img"
        />Mokumaru
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
